.adCard{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-end;
     margin: 10px;
     max-height: 100px;
     min-width: 100px;
     z-index: 1;
}

.cardLogo{
     font-size: 20px;
}

.cardTitle{
     font-size: 15px;
     text-align: center;
}

.cardDescription{
     font-size: 13px;
     padding-top: 5px;
     text-align: center;
}

@media screen and (max-width: 500px){
     .adCard{
          margin-bottom: 40px;
     }
}

